<h2>Solicitudes de Amistad</h2>

@if (ViewBag.Requests.Count == 0)
{
    <p>No tienes solicitudes pendientes.</p>
}
else
{
    <ul>
        @foreach (var request in ViewBag.Requests)
        {
            <li>
                @request.User (@request.Email)
                <form method="post" asp-action="Accept" asp-controller="Friends">
                    <input type="hidden" name="id" value="@request.Id" />
                    <button type="submit">Aceptar</button>
                </form>
            </li>
        }
    </ul>
}