@model IEnumerable<ProyectoPrograIV.ViewModels.FriendViewModel>

<form method="get">
    <input type="text" name="query" placeholder="Buscar amigos..." />
    <button type="submit">Buscar</button>
</form>

@if (Model.Any())
{
    <ul>
        @foreach (var friend in Model)
        {
            <li>
                @friend.UserName
                <form method="post" asp-action="SendRequest" asp-controller="Friends">
                    <button type="submit">Agregar</button>
                </form>
            </li>
        }
    </ul>
}