@{
    ViewData["Title"] = "Jugar";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}
<div class="account-container">
	<div class="account-box">
		<h2 class="text-left mb-4">Jugar</h2>
		<div>
			<select class="selectpicker" data-live-search="true" aria-label="Equipo1">
				<option data-content="<img src='../imagenes/Monstruos/Amaru/Amaru_1.png'>Amaru">Amaru</option>
				<option data-content="<img src='../imagenes/Monstruos/Capibara/Capibara_1.png'>Capibara">Capibara</option>
				<option data-content="<img src='../imagenes/Monstruos//Comburucho/Comburucho_1.png'>Comburucho">Comburucho</option>
				<option data-content="<img src='../imagenes/Monstruos//DonGallon/DonGallon_1.png'>Don Gallon">Don Gallon</option>
				<option data-content="<img src='../imagenes/Monstruos/Venus/Venus_1.png'>Venus">Venus</option>
				<option data-content="<img src='../imagenes/Monstruos/Volpaca/Volpaca_1.png'>Volpaca">Volpaca</option>
			</select>
		</div>
		<div>
			<select class="selectpicker" data-live-search="true" aria-label="Equipo1">
				<option data-content="<img src='../imagenes/Monstruos/Amaru/Amaru_1.png'>Amaru">Amaru</option>
				<option data-content="<img src='../imagenes/Monstruos/Capibara/Capibara_1.png'>Capibara">Capibara</option>
				<option data-content="<img src='../imagenes/Monstruos//Comburucho/Comburucho_1.png'>Comburucho">Comburucho</option>
				<option data-content="<img src='../imagenes/Monstruos//DonGallon/DonGallon_1.png'>Don Gallon">Don Gallon</option>
				<option data-content="<img src='../imagenes/Monstruos/Venus/Venus_1.png'>Venus">Venus</option>
				<option data-content="<img src='../imagenes/Monstruos/Volpaca/Volpaca_1.png'>Volpaca">Volpaca</option>
			</select>
		</div>
		<div>
			<select class="selectpicker" data-live-search="true" aria-label="Equipo1">
				<option data-content="<img src='../imagenes/Monstruos/Amaru/Amaru_1.png'>Amaru">Amaru</option>
				<option data-content="<img src='../imagenes/Monstruos/Capibara/Capibara_1.png'>Capibara">Capibara</option>
				<option data-content="<img src='../imagenes/Monstruos//Comburucho/Comburucho_1.png'>Comburucho">Comburucho</option>
				<option data-content="<img src='../imagenes/Monstruos//DonGallon/DonGallon_1.png'>Don Gallon">Don Gallon</option>
				<option data-content="<img src='../imagenes/Monstruos/Venus/Venus_1.png'>Venus">Venus</option>
				<option data-content="<img src='../imagenes/Monstruos/Volpaca/Volpaca_1.png'>Volpaca">Volpaca</option>
			</select>
		</div>
		<div>
			<select class="selectpicker" data-live-search="true" aria-label="Equipo1">
				<option data-content="<img src='../imagenes/Monstruos/Amaru/Amaru_1.png'>Amaru">Amaru</option>
				<option data-content="<img src='../imagenes/Monstruos/Capibara/Capibara_1.png'>Capibara">Capibara</option>
				<option data-content="<img src='../imagenes/Monstruos//Comburucho/Comburucho_1.png'>Comburucho">Comburucho</option>
				<option data-content="<img src='../imagenes/Monstruos//DonGallon/DonGallon_1.png'>Don Gallon">Don Gallon</option>
				<option data-content="<img src='../imagenes/Monstruos/Venus/Venus_1.png'>Venus">Venus</option>
				<option data-content="<img src='../imagenes/Monstruos/Volpaca/Volpaca_1.png'>Volpaca">Volpaca</option>
			</select>
		</div>
		<div>
			<select class="selectpicker" data-live-search="true" aria-label="Equipo1">
				<option data-content="<img src='../imagenes/Monstruos/Amaru/Amaru_1.png'>Amaru">Amaru</option>
				<option data-content="<img src='../imagenes/Monstruos/Capibara/Capibara_1.png'>Capibara">Capibara</option>
				<option data-content="<img src='../imagenes/Monstruos//Comburucho/Comburucho_1.png'>Comburucho">Comburucho</option>
				<option data-content="<img src='../imagenes/Monstruos//DonGallon/DonGallon_1.png'>Don Gallon">Don Gallon</option>
				<option data-content="<img src='../imagenes/Monstruos/Venus/Venus_1.png'>Venus">Venus</option>
				<option data-content="<img src='../imagenes/Monstruos/Volpaca/Volpaca_1.png'>Volpaca">Volpaca</option>
			</select>
		</div>
		<div>
			<select class="selectpicker" data-live-search="true" aria-label="Equipo1">
				<option data-content="<img src='../imagenes/Monstruos/Amaru/Amaru_1.png'>Amaru">Amaru</option>
				<option data-content="<img src='../imagenes/Monstruos/Capibara/Capibara_1.png'>Capibara">Capibara</option>
				<option data-content="<img src='../imagenes/Monstruos//Comburucho/Comburucho_1.png'>Comburucho">Comburucho</option>
				<option data-content="<img src='../imagenes/Monstruos//DonGallon/DonGallon_1.png'>Don Gallon">Don Gallon</option>
				<option data-content="<img src='../imagenes/Monstruos/Venus/Venus_1.png'>Venus">Venus</option>
				<option data-content="<img src='../imagenes/Monstruos/Volpaca/Volpaca_1.png'>Volpaca">Volpaca</option>
			</select>
		</div>
		<input type="button" value="Buscar Partida" class="btn btn-success w-100 p-2" />
	</div>
</div>


