@using ProyectoPrograIV.ViewModels;
@model ProfileViewModel;

@{
	ViewData["Title"] = "Perfil";
	Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}
<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Perfil</h2>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="UserName" class="form-label"></label>
			<input asp-for="UserName" class="form-control" readonly />
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<h3>Lista de Amigos</h3>
			<ul>
				@if (!Model.FriendList.Any())
				{
					<p class="text-muted">No tienes amigos aún</p>
				}
				@foreach (var friend in Model.FriendList)
				{
					<li>@friend.UserName</li>
				}
			</ul>
		</div>
		<div class="mb-3 mt-4">
			<h4>Agregar nuevo amigo</h4>
			<form asp-action="AddFriend" method="post">
				<div class="input-group">
					<input name="friendUsername" class="form-control" placeholder="Nombre del amigo..." required />
					<button type="submit" class="btn btn-primary">Agregar</button>
				</div>
			</form>
			@if (TempData["FriendMessage"] != null)
			{
				<div class="alert alert-info">@TempData["FriendMessage"]</div>
			}
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}